.content {
  background-color: #f0f0f5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__container {
  width: 90%;
  max-width: 1120px;
  min-height: 81.87vh;
}

.content__main-page_hidden {
  display: none;
}

.content__product-page {
  z-index: 2;
}

.content__product-page_hidden {
  display: none;
}

.content__cart-page {
  z-index: 3;
}

.content__cart-page_hidden {
  display: none;
}
