.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
}

.filter__by-products-and-classify {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter__by-products {
  width: 408px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__products {
  border: none;
  color: #737380;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 4px;
}

.filter__products:hover {
  cursor: pointer;
}

.filter__products_focus {
  font-weight: 600;
  color: #41414d;
  border-bottom: 4px solid #ffa585;
}

.filter__classify {
  width: 121px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.filter__classify:hover {
  cursor: pointer;
}

.filter__classify-text {
  color: #737380;
}

.filter__classify-icon {
  width: 24px;
  height: 24px;
}

.filter__classify-popup {
  width: 180px;
  position: absolute;
  top: 25px;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  row-gap: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.filter__classify-popup_hidden {
  display: none;
}

.filter__classify-popup-button {
  border: none;
  background-color: #fff;
  color: #737380;
}
