.grid {
  display: flex;
  flex-direction: column;
}

.grid__container {
  width: 100%;
  margin-bottom: 74px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
  min-height: 45vh;
  justify-content: flex-start;
  align-items: center;
}

.grid__message-container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.grid__message-container_hidden {
  display: none;
}

.grid__message {
  font-size: 18px;
  color: #09090a;
  font-weight: 500;
  margin-right: 50px;
}

.grid__message-button {
  color: #737380;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  background-color: #f0f0f5;
}

.grid__message-button:hover {
  cursor: pointer;
}

.grid__message-button-icon {
  width: 16px;
}

.grid__card {
  width: 256px;
  background-color: #fff;
  border-radius: 8px;
}

.grid__card:hover {
  cursor: pointer;
}

.grid__card-image {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 300px;
  width: 100%;
  display: block;
}

.grid__card-footer {
  padding: 14px;
}

.grid__card-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #dce2e5;
}

.grid__card-price {
  color: #09090a;
  font-weight: 600;
  padding-top: 10px;
}

.grid__card-price::before {
  content: "R$ ";
}

.grid__card-price::after {
  content: ",00 ";
}

@media screen and (max-width: 621px) {
  .grid__container {
    justify-content: center;
  }

  .grid__message-container {
    justify-content: center;
  }

  .grid__message {
    font-size: 14px;
  }

  .grid__message-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 570px) {
  .grid__container {
    justify-content: center;
  }

  .grid__message-container {
    flex-direction: column;
  }

  .grid__message {
    margin: 0 0 5px 0;
    text-align: center;
  }
}
