.product-info {
  display: flex;
  gap: 32px;
}

.product-info__image {
  width: 640px;
  height: 580px;
  object-fit: cover;
  display: block;
}

.product-info-description-and-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info__tag {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.product-info__name {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  margin-bottom: 4px;
}

.product-info__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #09090a;
  margin-bottom: 24px;
}

.product-info__price::before {
  content: "R$ ";
}

.product-info__price::after {
  content: ",00 ";
}

.product-info__freight-information {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 58px;
}

.product-info__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #737380;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.product-info__description {
  width: 448px;
}

.product-info__add-to-cart-button {
  border: none;
  background-color: #115d8c;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 12px;
  color: #fff;
  text-transform: uppercase;
}

.product-info__add-to-cart-button:hover {
  cursor: pointer;
  opacity: 0.95;
}

.product-info__add-to-cart-icon {
  width: 24px;
  height: 24px;
}
