.product-info {
  display: flex;
  gap: 32px;
}

.product-info__image {
  width: 640px;
  height: 580px;
  object-fit: cover;
  display: block;
}

.product-info-description-and-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info__tag {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.product-info__name {
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 8px;
}

.product-info__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #09090a;
  margin-bottom: 24px;
}

.product-info__price::before {
  content: "R$ ";
}

.product-info__price::after {
  content: ",00 ";
}

.product-info__freight-information {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 58px;
}

.product-info__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #737380;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.product-info__description {
  width: 448px;
}

.product-info__add-to-cart-message-and-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.product-info__add-to-cart-message-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-info__add-to-cart-message-container_hidden {
  display: none;
}

.product-info__add-to-cart-message {
  font-weight: 500;
}

.product-info__add-to-cart-button {
  width: 100%;
  border: none;
  background-color: #115d8c;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 12px;
  color: #fff;
  text-transform: uppercase;
}

.product-info__add-to-cart-button:hover {
  cursor: pointer;
  opacity: 0.95;
}

.product-info__add-to-cart-button_clicked {
  background-color: #093855;
}

.product-info__add-to-cart-icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1261px) {
  .product-info__container {
    width: 100%;
  }

  .product-info-image-container {
    width: 60%;
  }

  .product-info__image {
    width: 100%;
  }

  .product-info-description-and-button-container {
    width: 40%;
  }

  .product-info__description {
    width: 100%;
  }
}

@media screen and (max-width: 941px) {
  .product-info-image-container {
    width: 65%;
  }

  .product-info-description-and-button-container {
    width: 35%;
  }

  .product-info__add-to-cart-button {
    padding: 5px 0 5px 15px;
  }
}

@media screen and (max-width: 577px) {
  .product-info {
    flex-direction: column;
    align-items: center;
  }

  .product-info-image-container {
    width: 100%;
  }

  .product-info__image {
    height: 350px;
  }

  .product-info-description-and-button-container {
    width: 100%;
  }

  .product-info__description {
    margin-bottom: 25px;
  }
}
